#background {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    opacity: 0.15;
    background-image: url("../hhr.png");
    background-size:     cover; 
    background-repeat:   no-repeat;
    background-position: center center; 
}

/* ---------------- PAGINATION ---------------- */
.uk-pagination li {
    background: none;
}
/* ---------------- SEARCH INPUT ---------------- */
.form_search svg{
    color:black!important;
    height: 48px;
    line-height: 48px;
    background:white;
}
.form_search button svg{
    height: 20px;
}
.form_search button {
    padding-top: 0;
    padding-bottom: 0;
    height: 44px;
    font-size: 16px;
    border-color: transparent;
    background-color: transparent;
    color: #ca9372;
    margin-left: 5px;
    font-weight: 700;
    margin-top: 2px;
}
.form_search .select_div {
    height:48px;
    background:white;
    vertical-align:middle;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    min-width: 115px;
}
.form_search input{
    height: 48px;
    line-height: 48px;
    background-color: #fff;
    font-size: 14px;
    color: #333;
    border: 0;
    outline: none;
    box-shadow: none;
    vertical-align:middle;
}
.form_search .icon.right {
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    padding-right: 25px;
    background: white;
    cursor:pointer;
}
.result {
    margin:auto;
}
.header_result th  {
    text-align: center;
    padding: 0;
}
.result td {
    text-align: center;
    padding: 0;
}
.result .winner {
    color: #1aba5c;
}
.result .loser {
    color: red;
}
.night .result .other {
    color: #c6c6c6;
}
.result .other {
    color: #898989;
}
.result .uk-table th {
    padding: 0;
    text-align: center;
}
.result .uk-table td {
    padding: 0;
    font-size: 16px;

}
.uk-table thead tr {
    font-weight: 600;
}
/* -------------- TABLE DETAIL ---------------- */
.detail th {
    text-align: center!important;
}
.detail .guilds {
    text-align: center;
}
.detail .guilds:first-child {
    background: #96ce6b;
}
.night .detail .guilds:first-child {
    background: #19600c;
}
.detail .guilds:nth-child(2) {
    background: #ea8252!important;
}
.night .detail .guilds:nth-child(2) {
    background: #6d280d!important;
}
.detail td {
    padding: 2px 0;
}

/* ---------- NIGHT MODE ------------ */
.detail tr:nth-child(2n) {
    background: #f8f8f8;
}
.night .detail tr:nth-child(2n) {
    background: #474747;
}
.battleboard li:nth-child(2n) {
    background: #fcfcfc;
}
.night .battleboard li:nth-child(2n) {
    background: #3d3d3d;
}
.night svg { /* Spinner */
    color: white;
}