.night .killboard {
    background: #080B21;
}

thead th {
    text-align: center!important;
}
thead tr {
    font-size:12px;
    font-weight: 600;
}
.night + .uk-tooltip {
    border: 2px solid blue;
}
.killboard .uk-table td  {
    padding: 1px;
    font-size: 12px;
    line-height: 1;
    vertical-align: middle;
    text-align: center;
}
.uk-accordion>:nth-child(n+2) {
    margin-top: 0;
}
.uk-grid-medium>* {
    padding-left: 0px;
}
li + .noguild {
    visibility: hidden;
}
li.twocolumn:last-child:nth-child(odd) {
    margin-left: 5%!important; 
}
.stat {
    display: inline-block;
}
div.stat.player[class*='alliance-']{
    background-color: red;
}
/* ---------- STAT TABLE ------------ */
.night .global.win {
    background:#19600c!important;
}
.day .global.win {
    background:#96ce6b!important;
}
.night .global.lose {
    background:#6d280d!important;
}
.day .global.lose {
    background:#ea8252!important
}
.night .global_battle td {
    color: #DFA408;
    border-bottom: 1px solid #969696;
    padding: 10px 0;
    font-weight: bold;
}
.day .stat_battle {
    background: #f2f2f2;
}
.day .global_battle td {
    color: #a57c09;
    border-bottom: 1px solid #f2f2f2;
    padding: 10px 0;
    font-weight: bold;
}
.night .stat_battle {
    background: #323232;
}
.stat_battle.uk-table td {
    font-size: 16px!important;
}
.stat_battle .global td {
    font-size:18px;
    padding: 8px;
}
.night .stat_battle tbody tr.global:nth-of-type(odd), .night .stat_battle>tr.global:nth-of-type(odd) {
    background: #474747;
    border-top: 1px solid #969696;
    border-bottom: 1px solid #969696;
}
.chart {
    font-size: 12px;
    font-style: italic; 
}

/* ---- HIGHTLIGHTS --- */
.night .bestKillfame {
    background: #af731f!important;
}
.bestKillfame {
    background: orange!important;
}
.night .bestKill {
    background: #af6679!important;
}
.bestKill {
    background: lightcoral!important;
}
.bestAssistance {
    background: #a6e0bd!important;
}
.night .bestAssistance {
    background: #72a084!important;
}
.bestIp {
    background: #fcc349!important;
}
.night .bestIp {
    background: #a57e29!important;
}
.highlighted {
    background: rgb(170, 213, 228)!important;
}
.night .highlighted {
    background: #86adba!important;
}
.night .uk-table-striped tbody tr:nth-of-type(odd), .night .uk-table-striped>tr:nth-of-type(odd) {
    background: #474747;
    border-top: 1px solid #969696;
    border-bottom: 1px solid #969696;
}

/* ----------- GUILD HEADER -------------- */
.guild_header .uk-table th {
    padding: 2px 12px;
}
.guild_header .uk-table td {
    font-size: 15px;
}
.alliance_table_header {
    text-align: center;
}
@media (min-width: 1200px) {
    .uk-width-1-3\@l {
        width: calc(100% * 1 / 3.101);
    }
}