
thead tr {
    font-size:12px;
}
.uk-table td  {
    padding: 2px;
    font-size: 13px;
    line-height: 1;
    vertical-align: middle;
}
.uk-accordion>:nth-child(n+2) {
    margin-top: 0;
}
.uk-grid-medium>* {
    padding-left: 0px;
}
li + .noguild {
    visibility: hidden;
}
li:last-child:nth-child(odd) {
    margin-left: 5%!important; 
}